@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    max-width: 600px;
    margin: auto;
}

article + article {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

span {
    margin-top: 3rem;
}
